<!--The content below is only a placeholder and can be replaced.-->

<div style="max-width: 500px; display: inline-block;">
  <emoji-input [(model)]="text"
               [inputClass]="'red'"
               [searchClass]="'blue'"
               [closeAfterSelection]="false"
               style="display: inline-block;"
               (click)="openPopup(false)"
               (setPopupAction)="setPopupAction($event)">
  </emoji-input>
  <button type="button" name="button"  style="display: inline-block;" (click)="openPopup()">
    Click me :)
  </button>
  <h5>Emojies {{text}}</h5>
</div>
